@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');
body{
    background: white;
}

.kepala{
    background: url("img/2.jpg");
    height: 800px;
    text-align: inherit;
    color: white;
       
}

.tulisanHeader{
    padding: 280px 0;
}

.navbarGue{
    /* background: white; */
    height: 80px;
    margin-top: -20px;
    padding-top: 15px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    
}
    
.navbarGue a{
    color: black;
    transition: 0.5s;
    margin-left:50px;
}

.navbarGue a:hover{
    color: greenyellow;
}

.jumbotron #kuots{
    color: white;
    font-size: 32px;
    font-family: 'Solway', serif;
}

.iklan{
    /* height:100px ;
    width: 100%;*/
    margin-top: -35px; 
    padding:10px 0 ;
    background-color: #7cc576;
}
footer{
    color: white;
    background: darkslategrey;
    padding: 25px 0;
    
}